@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
}

body {
  overflow-x: hidden;
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-size: 24px;
  z-index: 5;
  position: relative;
}

.link {
  border-radius: 18px;
  display: flex;
  word-wrap: nowrap;
  white-space: nowrap;
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  justify-content: center;
  background: #6c5ce7;
  box-shadow: #a29bfe 0px 7px 0px 0px;
  align-items: center;
}
.link i {
  font-size: 24px;
  color: white;
}
.link:active {
  box-shadow: none;
  transform: translateY(7px);
  transition: 35ms cubic-bezier(0.5, 0.7, 0.4, 1);
}

.carousel-block {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}
.carousel-block img {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  margin: 50px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.form-main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
  margin: 0;
  background: linear-gradient(135deg, #3bb9ff, #8e2de2, #f953c6);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

.form {
  width: 100%;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.form__title {
  font-size: 32px;
  text-align: center;
}
.form span {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 50px;
  justify-content: space-around;
  margin: 40px 0;
}

footer {
  background-color: #7930fa;
  /* светлый фон */
  padding: 80px 20px;
  font-family: Arial, sans-serif;
  width: 100%;
  z-index: 500;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
}

.footer-logo img {
  width: 40px;
  height: 40px;
}

.footer-logo span {
  font-weight: bold;
  font-size: 1.2rem;
  color: #fff;
}

.footer-links {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-links a {
  text-decoration: none;
  font-size: 0.95rem;
  color: #fff;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #1e40af;
  /* приятный синий */
}

.footer-bottom {
  margin-top: 20px;
  font-size: 0.8rem;
  color: #e9e9e9;
  text-align: center;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.game {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}
.game img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.splitter {
  padding: 0 18px;
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: flex-start;
}
.splitter-first {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 24px;
  -moz-column-gap: 48px;
       column-gap: 48px;
  padding: 12px;
}

.profile {
  width: 90%;
  padding: 18px;
  border-radius: 8px;
  border: 1px solid rgb(218, 218, 218);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}
.profile__info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.profile__title {
  font-size: 24px;
}
.profile__text {
  color: rgba(0, 0, 0, 0.7294117647);
}
.profile__manage {
  display: flex;
  gap: 8px;
}

.lessons {
  width: 80%;
  margin: 100px 0 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.lessons__item {
  width: 100%;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0px 3px 18px -1px rgba(34, 60, 80, 0.12);
  display: flex;
  align-items: center;
  gap: 24px;
}
.lessons__number {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  color: #3b66b5;
}
.lessons__title {
  flex-grow: 1;
  width: 100%;
  font-size: 18px;
}
.lessons__manage {
  display: flex;
  gap: 12px;
  align-items: center;
}
.lessons__tags {
  display: flex;
  gap: 6px;
  align-items: center;
}
.lessons__tags span {
  display: flex;
  gap: 2px;
  align-items: center;
  color: gold;
  font-size: 20px;
}

.one-lesson {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
.one-lesson__video {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  /* 9/16 = 0.5625 */
  overflow: hidden;
}
.one-lesson__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.one-lesson__details {
  font-size: 16px;
  color: #333;
}
.one-lesson__manage {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}

.card {
  max-width: 500px;
  width: 100%;
  display: flex;
  padding: 50px;
  border-radius: 18px;
  box-shadow: 0px 0px 29px 5px rgba(34, 60, 80, 0.2);
  justify-content: center;
  align-items: center;
}

.play {
  --background: #333333;
  --color: #e8e8e8;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #0e1a2b;
  /* тёмно-синий фон */
  background-image: radial-gradient(white 2px, transparent 3px), radial-gradient(white 1.5px, transparent 2.5px), radial-gradient(white 1px, transparent 2px);
  background-position: 20% 30%, 70% 20%, 80% 80%, 40% 60%, 10% 90%, 90% 10%, 50% 50%, 30% 70%, 60% 40%;
  background-size: 100px 100px, 150px 150px, 200px 200px;
  background-repeat: repeat;
  padding: 50px 10px;
}
.play__manage {
  width: 100%;
  align-items: center;
  display: flex;
  padding: 50px 0;
  flex-direction: column;
  gap: 80px;
}
.play__logo {
  max-width: 400px;
  width: 100%;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8%;
}
.play__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.play__button {
  cursor: pointer;
  position: relative;
  border: none;
  outline: none;
  background-color: #6c5ce7;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px #a29bfe;
}
.play__button:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #a29bfe;
}
.play__button.golden {
  background: #FFD700 !important;
  box-shadow: 0px 5px 0px 0px #CFB53B !important;
}
.play__button i {
  color: white;
  font-size: 24px;
  position: relative;
}
.play__button.disabled {
  background: #ccc !important;
  color: #000 !important;
  box-shadow: 0px 5px 0px 0px rgba(204, 204, 204, 0.368627451) !important;
  cursor: no-drop;
}
.play__levels {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}
.play__levels .play__button {
  position: absolute;
  border-radius: 50%;
  background-color: #58cc02;
  box-shadow: 0px 5px 0px 0px #46a302;
}
.play__levels .play__button:active {
  box-shadow: 0px 0px 0px 0px #46a302;
}
.play__levels .play__button img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
.play__levels .tooltip {
  position: absolute;
  z-index: 1000;
  left: -25%;
  transform: translateX(-100%);
  padding: 0.3em 0.6em;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  background: var(--background);
  z-index: -1;
  border-radius: 8px;
  scale: 0;
  transform-origin: 0 0;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  top: -200%;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  scale: 1;
  animation: shake 0.5s ease-in-out both;
}
.play__levels .tooltip::before {
  position: absolute;
  content: "";
  height: 0.6em;
  width: 0.6em;
  bottom: -0.2em;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  background: var(--background);
}

.sett-modal {
  display: flex;
  flex-direction: column;
  padding: 50px;
}
.sett-modal .title {
  font-size: 24px;
}
.sett-modal .slider {
  /* slider */
  --slider-width: 100%;
  --slider-height: 12px;
  --slider-bg: rgb(82, 82, 82);
  --slider-border-radius: 999px;
  /* level */
  --level-color: #00ff40;
  --level-transition-duration: .1s;
  /* icon */
  --icon-margin: 18px;
  --icon-color: var(--slider-bg);
  --icon-size: 24px;
}
.sett-modal .slider {
  cursor: pointer;
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
}
.sett-modal .slider i {
  display: inline-block;
  vertical-align: top;
  margin-right: var(--icon-margin);
  color: var(--icon-color);
  font-size: var(--icon-size);
  height: auto;
}
.sett-modal .slider .level {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--slider-width);
  height: var(--slider-height);
  background: var(--slider-bg);
  overflow: hidden;
  border-radius: var(--slider-border-radius);
  transition: height var(--level-transition-duration);
  cursor: inherit;
}
.sett-modal .slider .level::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  height: 0;
  box-shadow: -200px 0 0 200px var(--level-color);
}
.sett-modal .slider:hover .level {
  height: calc(var(--slider-height) * 2);
}

.audio {
  position: absolute;
  display: none;
}

.first-game {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  padding: 50px;
  z-index: 10000;
  overflow: hidden;
  top: 0;
  left: 0;
}
.first-game.no {
  display: none;
}
.first-game__bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  filter: blur(5px);
  top: 0;
  left: 0;
}
.first-game__menu {
  width: 60%;
  min-width: 350px;
  height: 300px;
  height: 60%;
  position: absolute;
  top: 30px;
  border-radius: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 45px;
  background: #44a9c9;
  border: 30px solid #183164;
}
.first-game__tag {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  animation: appear 0.4s ease-out;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}
.first-game__tag img {
  width: 80%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}
.first-game__tag .star {
  animation: star-appear 0.4s ease-out forwards;
  position: absolute;
  right: -10px;
  top: -10px;
  font-size: 25px;
  color: gold;
}
.first-game__tab {
  display: flex;
  padding: 40px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #44a9c9;
  border: 10px solid #183164;
  border-radius: 15px;
}

@keyframes appear {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes star-appear {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1) rotate(12deg);
    opacity: 1;
  }
}
@keyframes flyAndStick {
  0% {
    left: -60px;
    transform: rotate(-30deg) translateY(-50%);
  }
  70% {
    left: 48%;
    /* приближение к центру */
    transform: rotate(0deg) translateY(-50%);
  }
  100% {
    left: 50%;
    transform: rotate(5deg) translateY(-50%);
  }
}
/* Дрожь/вибрация после удара */
@keyframes shake {
  0% {
    transform: rotate(5deg) translateY(-50%);
  }
  25% {
    transform: rotate(-3deg) translateY(-50%);
  }
  50% {
    transform: rotate(2deg) translateY(-50%);
  }
  75% {
    transform: rotate(-1deg) translateY(-50%);
  }
  100% {
    transform: rotate(0deg) translateY(-50%);
  }
}
.slot {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  width: 100%;
  min-width: 314px;
  max-width: 314px;
}
.slot__top {
  width: 100%;
  display: flex;
  height: 232px;
  flex-wrap: wrap;
  gap: 16px;
  row-gap: 8px;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.3s;
}
.slot__place {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 10px;
  background: #349ebe;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05) inset;
  transition: 0.3s;
}
.slot__lets {
  width: 314px;
  height: 232px;
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transition: 0.3s;
}
.slot__let {
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  font-size: 22px;
  color: #183164;
  font-weight: 600;
  background-color: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.close {
  width: 100%;
  position: absolute;
  top: 25px;
  display: flex;
  left: 25px;
  gap: 12px;
  z-index: 1000;
}

.second-game {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  padding: 50px;
  overflow: hidden;
  top: 0;
  left: 0;
}
.second-game.no {
  display: none;
}
.second-game__bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  filter: blur(5px);
  top: 0;
  left: 0;
}

.levels {
  min-width: 350px;
  height: 500px;
  max-width: 500px;
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}
.levels .play__button {
  position: absolute;
  border-radius: 50%;
  background-color: #58cc02;
  box-shadow: 0px 5px 0px 0px #46a302;
}
.levels .play__button:active {
  box-shadow: 0px 0px 0px 0px #46a302;
}
.levels .play__button img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
.levels__bg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.levels__bg img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.board {
  position: relative;
  width: 100%;
  height: 100vh;
}

.block {
  position: absolute;
  width: 50px;
  height: 50px;
  color: #fff;
  display: flex;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: grab;
  transition: background-color 0.3s;
}

.dropzone {
  position: absolute;
  bottom: 50px;
  left: 50%;
  max-width: 500px;
  width: 100%;
  transform: translate(-50%, -50%);
  height: 200px;
  border: 3px dashed #aaa;
  background-color: #fffbe6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.timer {
  cursor: pointer;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 25px;
  z-index: 1000;
  border: none;
  outline: none;
  background-color: #6c5ce7;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px #a29bfe;
}

.desk {
  width: 100%;
  max-width: 700px;
  min-width: 350px;
  position: absolute;
  top: 50%;
  border-radius: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #44a9c9;
  border: 30px solid #183164;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  flex-wrap: wrap;
  gap: 12px;
  align-items: flex-start;
}
.desk__tag {
  width: 70px;
  height: 70px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  animation: appear 0.4s ease-out;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}
.desk__tag img {
  width: 80%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}
.desk__tag .star {
  animation: star-appear 0.4s ease-out forwards;
  position: absolute;
  right: -10px;
  top: -10px;
  font-size: 25px;
  color: gold;
}

.target {
  width: 100%;
  max-width: 700px;
  min-width: 350px;
  background: #44a9c9;
  border: 10px solid #183164;
  position: absolute;
  border-radius: 15px;
  padding: 15px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: white;
  left: 50%;
  transform: translateX(-50%);
}

.mobile-header {
  width: 100%;
  height: 90px;
  position: fixed;
  box-shadow: 0px -2px 26px 7px rgba(34, 60, 80, 0.09);
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background: white;
  left: 0;
  z-index: 5000;
}
.mobile-header .link {
  height: 70px;
  width: 70px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  background: #6c5ce7;
  box-shadow: #a29bfe 0px 7px 0px 0px;
  align-items: center;
}
.mobile-header .link i {
  font-size: 24px;
  color: white;
}
.mobile-header .link:active {
  box-shadow: none;
  transform: translateY(7px);
  transition: 35ms cubic-bezier(0.5, 0.7, 0.4, 1);
}

.banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  overflow: hidden;
}
.banner__item {
  margin-bottom: 150px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 32px;
}
.banner__img {
  width: 40%;
  min-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.banner__img img {
  max-height: 600px;
  border-radius: 25px;
  transform: rotate(9deg);
  -o-object-fit: cover;
     object-fit: cover;
}
.banner__text {
  width: 40%;
  display: flex;
  min-width: 400px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 40%;
  position: relative;
  z-index: 2;
}
.banner__text h1 {
  font-size: 48px;
  color: #6c5ce7;
  font-weight: 600;
  border-radius: 18px;
  padding: 12px 16px;
}
.banner__text p {
  color: #777777;
  font-size: 18px;
}

.helper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.helper__logo {
  margin-bottom: 16px;
  font-size: 48px;
  z-index: 5;
}
.helper__title {
  font-size: 22px;
  margin-bottom: 32px;
  z-index: 5;
}
.helper .link {
  padding: 12px 32px;
  z-index: 5;
}
.helper__img {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.helper__img::before {
  width: 3000px;
  top: 189px;
  position: absolute;
  background-color: #7930fa;
  content: "";
  height: 200px;
}
.helper__img img {
  top: -50px;
  max-width: 800px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1200px) {
  .banner__item {
    flex-direction: column;
  }
  .banner__img {
    order: -1;
  }
  .banner__text h1 {
    text-align: center;
  }
  .banner__text p {
    text-align: center;
  }
}
@media (max-width: 970px) {
  footer {
    padding-bottom: 100px;
  }
}
@media (max-width: 750px) {
  .banner__img img {
    height: 300px;
  }
  .banner__text h1 {
    font-size: 28px;
  }
}
.rangeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

[type=range].kawaii {
  --base: #fe8ce4;
  --light: color-mix(in sRGB, var(--base) 60%, #fff);
  --lighter: color-mix(in sRGB, var(--base) 30%, #fff);
  --dark: color-mix(in sRGB, var(--base) 95%, #000);
  --transparent: color-mix(in sRGB, var(--base) 0%, #0000);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 1em;
  width: 20em;
  height: 2em;
  border: 0.5em solid #fff;
  border-radius: 2em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.0666666667), 0 0.25em 0.5em rgba(0, 0, 0, 0.0666666667);
  overflow: hidden;
}

[type=range].kawaii::-webkit-slider-runnable-track {
  background: radial-gradient(circle at 0.75em 0.6em, var(--light) calc(0.2em - 1px), rgba(0, 0, 0, 0) 0.2em), radial-gradient(circle at 1.25em 0.6em, var(--light) calc(0.2em - 1px), rgba(0, 0, 0, 0) 0.2em), radial-gradient(circle at 5em 0.6em, var(--light) calc(0.2em - 1px), rgba(0, 0, 0, 0) 0.2em), linear-gradient(var(--light) 0 0) 1.25em 0.4em/3.75em calc(0.4em - 0.5px) no-repeat, linear-gradient(90deg, var(--base), var(--transparent) 1em), linear-gradient(rgba(0, 0, 0, 0) 70%, var(--dark) 80%), var(--base);
  border-radius: 2em;
  height: 100%;
  overflow: hidden;
}

[type=range].kawaii::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  height: 2em;
  width: 2em;
  color: var(--lighter);
  background: radial-gradient(circle at 0.75em 0.6em, var(--light) calc(0.2em - 1px), rgba(0, 0, 0, 0) 0.2em), linear-gradient(90deg, rgba(0, 0, 0, 0) 0.75em, var(--base) 0) 0 0/100% 50% no-repeat;
  border-radius: 50%;
  box-shadow: inset -0.5em 0 0.5em -0.25em var(--base), 1em 0 0 0.25em, 2em 0 0 0.25em, 3em 0 0 0.25em, 4em 0 0 0.25em, 5em 0 0 0.25em, 6em 0 0 0.25em, 7em 0 0 0.25em, 8em 0 0 0.25em, 9em 0 0 0.25em, 10em 0 0 0.25em, 11em 0 0 0.25em, 12em 0 0 0.25em, 12em 0 0 0.25em, 13em 0 0 0.25em, 14em 0 0 0.25em, 15em 0 0 0.25em, 16em 0 0 0.25em, 17em 0 0 0.25em, 18em 0 0 0.25em, 19em 0 0 0.25em;
}

[type=range].kawaii::-moz-range-track {
  background: radial-gradient(circle at 0.75em 30%, var(--light) calc(0.2em - 1px), rgba(0, 0, 0, 0) 0.2em), radial-gradient(circle at 1.5em 30%, var(--light) calc(0.2em - 1px), rgba(0, 0, 0, 0) 0.2em), radial-gradient(circle at 5.5em 30%, var(--light) calc(0.2em - 1px), rgba(0, 0, 0, 0) 0.2em), linear-gradient(var(--light) 0 0) 1.5em calc(15% + 0.18em)/4em calc(0.4em - 0.5px) no-repeat, linear-gradient(90deg, var(--base), var(--transparent) 1em), linear-gradient(var(--transparent) 70%, var(--dark) 80%), var(--base);
  border-radius: 2em;
  height: 100%;
  overflow: hidden;
}

[type=range].kawaii::-moz-range-thumb {
  -moz-appearance: none;
       appearance: none;
  height: 2em;
  width: 2em;
  border: 0;
  color: var(--lighter);
  background: radial-gradient(circle at 0.75em 0.6em, var(--light) calc(0.2em - 1px), rgba(0, 0, 0, 0) 0.2em), linear-gradient(90deg, var(--transparent) 0.75em, var(--base) 0) 0 0/100% 50% no-repeat;
  border-radius: 50% 0 50% 50% 0;
  box-shadow: inset -0.5em 0 0.5em -0.25em var(--base), 1em 0 0 0.25em, 2em 0 0 0.25em, 3em 0 0 0.25em, 4em 0 0 0.25em, 5em 0 0 0.25em, 6em 0 0 0.25em, 7em 0 0 0.25em, 8em 0 0 0.25em, 9em 0 0 0.25em, 10em 0 0 0.25em, 11em 0 0 0.25em, 12em 0 0 0.25em, 12em 0 0 0.25em, 13em 0 0 0.25em, 14em 0 0 0.25em, 15em 0 0 0.25em, 16em 0 0 0.25em, 17em 0 0 0.25em, 18em 0 0 0.25em, 19em 0 0 0.25em;
}

.header-info {
  width: 100%;
  display: flex;
  padding: 20px 30px;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.tests {
  width: 100%;
  display: flex;
  padding: 0 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  margin: 50px 0;
}
.tests__item {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 25px;
  gap: 24px;
}
.tests__title {
  font-size: 18px;
  font-weight: 600;
  flex-grow: 1;
}
.tests__img {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tests__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.tests .tests__item .link {
  padding: 12px 24px;
}

.test-detail {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.test-detail__title {
  font-size: 24px;
  font-weight: 600;
  color: #6c5ce7;
}
.test-detail__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.test-detail__ques {
  font-size: 18px;
}
.test-detail__ans {
  display: flex;
  gap: 8px;
  align-items: center;
}

.childs {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.childs__item {
  border-radius: 18px;
  display: flex;
  word-wrap: nowrap;
  white-space: nowrap;
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  justify-content: center;
  background: #6c5ce7;
  box-shadow: #a29bfe 0px 7px 0px 0px;
  align-items: center;
}
.childs__item i {
  font-size: 24px;
  color: white;
}
.childs__item:active {
  box-shadow: none;
  transform: translateY(7px);
  transition: 35ms cubic-bezier(0.5, 0.7, 0.4, 1);
}

.win {
  display: flex;
  justify-content: center;
  align-items: center;
}
.win img {
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */